    /* #connecter{
        height: 100%;  
        color: #fff;
        background-image: url("/assets/images/03.jpg");  
        background-size: 100% ;  
        background-size: cover; 
        margin-right: 6%;
    } */
    button{
        font-size: 13pt; margin-left: 50%;
        width: 120%;
    }
    input{
        height: 34pt;font-size: 13pt;
    }
    a{
        width:30%;font-size: 13pt; 
        margin-left: 45%;
    }
    h1{
        background-color: black;
        text-shadow: 4px 4px 5px rgb(255, 0, 212);width:100%;
        font-size: 550%;
        margin-top: 10%;
        
        
    }