table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 70%;
    margin-left: 13%;
  }
  .mat-label{
    font-size: 15pt;
  }
  th{
    background-color: rgb(62, 56, 66);
    font-size: large;
    color: white;
    //text-align: center;
  }
  td{
    text-align: center;
  }
  
  td, th {
    width: 5%;
  }
    
  a{
      height: 30pt; width: 30pt;
      margin-left: 2%;
      
  }
  
  span{
      text-align: center;
      margin-left: -5pt;
  }
  
  
  
  .mat-label{
    font-size: 12pt;
  }
  button{
    height: 30pt;
  }
  h2{
    background-color:greenyellow; font-size: 15pt;height: 70%;text-align: center;
    border-radius: 5pt;
  }