.mat-form-field{
   
    font-size: 17pt;
   // text-align: center;
    margin-left: 7%;
  }
    .mat-label{
        font-size: 5pt;
    }
  h2{
    background-color:greenyellow; font-size: 15pt;height: 70%;text-align: center;
    border-radius: 5pt;
  }