.mat-form-field {
    width: 95%;
    margin-left: 5pt;
    opacity: 0.75;
    font-size: 150%;
    margin-top: 5%;
    

  }
h3{
    color: rgb(255, 0, 170);
}
.mat-label{
    font-size: 25pt;
}

h2{
    
    color: #680c79;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    font-size: 25pt;height: 70%;text-align: center;
    border-radius: 55pt;
    }