table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  td{
    font-size: 110%;line-height: -5%;
  }
  td, th {
    width: 2%;
    padding-right: 5%;
  }
  th{
    background-color: rgb(62, 56, 66);
    font-size: small;
    color: white;
    text-align: center;
  }  
  
  a{
  height: 30pt; width: 30pt;
  margin-left: 2%;
  
  
  }
  
  span{
  text-align: center;
  margin-left: -5pt;
  }
  h2{
  height: -5%; text-align: center;color: hotpink;font-size: 25pt;
  
  }
  
  button{height: 27pt;}